<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatabaseUpload</servlet-name>
        <servlet-class>HealthTrackerv2.DatabaseUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetImage</servlet-name>
        <servlet-class>HealthTrackerv2.GetImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BackgroundImage</servlet-name>
        <servlet-class>HealthTrackerv2.BackgroundImage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/HealthTrackerv2/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatabaseUpload</servlet-name>
        <url-pattern>/DatabaseUpload</url-pattern>
    </servlet-mapping>
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>
         C:\Program Files\Apache Software Foundation\Apache Tomcat 8.0.27\webapps\data\
        </param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>GetImage</servlet-name>
        <url-pattern>/GetImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BackgroundImage</servlet-name>
        <url-pattern>/BackgroundImage</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
